.housie-board-wrapper {
  .numbers-wrapper {
    .box {
      height: 2em;
      width: 2em;
      font-size: 200%;
      font-weight: 900;
    }

    .num-selected {
      color: #fa0202;
      background-color: #65d227;
      border: 1px solid #2e55d5;
      border-radius: 50%;
      font-weight: bolder;
    }

  }
}

.number-generator-wrapper {
  .number-space {
    height: 20em;
    width: 20em;
    border: 2px solid #2e55d5;
    background-color: #d7af12;
    border-radius: 50%;
    .housie-number {
      font-size: 10em;
      font-weight: bolder;
      color: #2e55d5;
    }
  }
}
