/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

.h-screen-30{
  height: 30vh;
}

.h-screen-40{
  height: 40vh;
}

.h-screen-50{
  height: 50vh;
}

.h-screen-70{
  height: 70vh;
}

.h-screen-75{
  height: 75vh;
}

.h-screen-90{
  height: 90vh;
}
